
body{
    overflow-x: hidden;
	
}
.card-body{
	height : 10%;
}
.card{
	box-shadow : 5px black;
}
.container{
	margin-top : 2%;
}
.inner{
	overflow : hidden;
}

.inner img{
	 transition : all 1.5s ease;
}
.inner:hover img{
	transform : scale(1.5);
}
header{
	margin-top : 10px;
    background-image: url('../image/hosp.jpg') ;
    background-size: cover;
    padding :120px;
    height:100%;
	color : white;
	box-shadow: 50 50 50px white;
animation: fade 20s infinite;


  /*  -webkit-animation-name:diapo1;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    
    -moz-animation-name:diapo1;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal; 

    animation-name:diapo1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal; */
}
/* @-webkit-keyframes diapo1
{
    0%{background-image: url("cop11.jpg") ;}
    20%{background-image: url("cop9.jpg") ;}
    33%{background-image: url("cop8.jpg"); }
    47%{background-image: url("cop12.jpg") ;}
}
@-moz-keyframes diapo1
{
    0%{background-image: url("cop11.jpg") ;}
    20%{background-image: url("cop9.jpg") ;}
    33%{background-image: url("cop8.jpg"); }
    47%{background-image: url("cop12.jpg") ;}
}
@-keyframes diapo1
{
    0%{background-image: url("cop11.jpg") ;}
    20%{background-image: url("cop9.jpg") ;}
    33%{background-image: url("cop8.jpg"); }
    47%{background-image: url("cop12.jpg") ;}
}


@keyframes fade 
{
	20%{background-image: url("../image/hosp1.jpg") ;}
    40%{background-image: url("../image/hosp2.jpg") ;}
    60%{background-image: url("../image/hosp3.jpg"); }
	80%{background-image: url("../image/hosp4.jpg") ;}
	100%{background-image: url("../image/hosp5.jpg") ;}
}
*/


/*

.search-box /* div de la barre de recherche
		{
			position: absolute;
			top:30%;
			left:50%;
			transform: translate(-50%,-50%);
			background:white;
			height:40px;
			border-radius:40px;
            padding:auto;
        

		}
		.search-box:hover > .search-text
		{
			width: 530px;
            padding: 0 6px;
            /*6px*/

	
		.search-btn
		{
			color:cornflowerblue;
			float:right;
			width: 40px;
			float:right;
			height:40px;
			border-radius: 50%;
			/*bzackground:#2f3540;*/
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			transition:1s;
		}
		.search-box:hover > .search-btn
		{
			background: white;


		}
		.search-text
		{
			border:none;
			background: none;
			outline:none;
			float: left;
			padding:0;
			color:#2f3540;
			font-size: 120%;
			transition:0.4s;
			line-height:40px;
			width: 100px;
			

		}*/
		 h1
		{
		   	color:blue;

		}
		@keyframes flash
		{
			0%{
				color:#484848;
				text-shadow: none;
			}
			90%{
				color:#484848;
				text-shadow: none;
			}
			10%
			{
				color: #fff900;
				text-shadow : 0 0 7px #fff900, 0 0 50px #ff6c00;

			}

		}



		/*   footer*/


		
        #footer{
            background:#111111;
            padding: 0 0 0px 0;
            color: #3eee;
            font-size: 14px;
        }
        #footer .footer-top{
            background:black;
            padding: 0px 0 0px 0;
        }
        #footer .footer-top .footer-info{
            margin-bottom: 20px;
        }
        #footer .footer-top .footer-info h3{
           font-size: 30px;
           margin: 0 0 20px 0;
           padding: 10px 0 2px 0;
           line-height: 1;
		   font-family: "Monstreet" , sans-serif;
		   padding: 10px 0 2px 0;
           color: #fff;
           font-weight: 400;
           letter-spacing: 3px;
           text-transform: uppercase;  
        }
        #footer .footer-top .footer-info p{
            font-size: 13px;
			line-height: 24px;
			margin-top:2px;
            margin-bottom: 0;
            font-family: "Monstreet" sans-serif;
            color:#eef5ff;
        }
        #footer .footer-top .social-links a{
            font-size: 18px;
            display: inline-block;
            background: #007bff;
            color:white;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.2s;
        }
        #footer .footer-top .social-links a:hove{
            background: #0067d5;
            color:white;
        } 
        #footer .footer-top h4{
            font-size: 14px;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            position:relative;
            padding-bottom: 10px;
        }
        #footer .footer-top .footer-links{
            margin-bottom: 30px;
        }
        #footer .footer-top .footer-links ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        #footer .footer-top .footer-links ul li{
            padding: 8px 0;
        }
        #footer .footer-top .footer-links ul li:first-child{
            padding-top: 0;
        }
        #footer .footer-top .footer-links ul a{
            color: #ecf5ff;
        }
        #footer .footer-top .footer-links ul a:hover{
            color: #74b5fc;
        }
        #footer .footer-top .footer-contact{
            margin-bottom: 30px;
        }
         #footer .footer-top .footer-contact p{
            line-height: 26px;
        }
        #footer .footer-top .footer-newsletter{
            margin-bottom: 38px;
        }
         #footer .footer-top .footer-newsletter input[type="email"]{
           border: 0;
           padding: 6px 8px;
           width: 65%; 
        }
         #footer .footer-top .footer-newsletter input[type="submit"]{
           background: #007bff;
           border: 0;
           padding: 6px 0;
           width: 35%; 
           text-align: center;
           color: white;
           transition: 0.3s;
           cursor: pointer;
        }
         #footer .footer-top .footer-newsletter input[type="submit"]:hover{
           background: #0062cc;
         }
         #footer .copyright{
             text-align: center;
             padding-top: 30px;
         }
         #footer .credits{
            text-align: center;
            font-size: 13px;
            color: #f1f7ff;
         }
         #footer .credits a{
             color: #bfddfe;
         }
         #footer .credits a:hover{
             color: #f1f7ff;
         }

       